* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

a {
  color: white !important;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.tutorial-header {
  display: flex;
  flex-direction: row;
}

.tutorial-header > a {
  width: 3rem;
  height: 2rem;
  background: #ffd666;
  border: none;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  animation-delay: 200ms;
}
